<div class="container  my-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-7 carsPage">

      <!-- Car Company Name -->
      <h1>Mahindra Car Models</h1>

      <!-- Car models-->

<!--      <app-card-component *ngFor="let car of cars"-->
<!--      [car]-->


<!--      />-->

<!--          <app-card-component-->
<!--          [cars]="cars"-->
<!--          />-->


      <app-card-component
      [carCompanyName] = "carCompanyName"
      [carModel] = "carModel"
      [carPrice]="carPrice"
      [carMileage]= "carMileage"
      [manufacturingYear] = "manufacturingYear"
      [carLocation] = "carLocation"
      [carColor]= "carColor"
      />
<!--      -->
<!--      <app-card-component-->
<!--        [carCompanyName] = "carCompanyName"-->
<!--        [carModel] = "carModel"-->
<!--        [carPrice]="carPrice"-->
<!--        [carMileage]= "carMileage"-->
<!--        [manufacturingYear] = "manufacturingYear"-->
<!--        [carLocation] = "carLocation"-->
<!--        [carColor]= "carColor"-->
<!--      />-->


<!--      <app-card-component-->
<!--        [carCompanyName] = "carCompanyName"-->
<!--        [carModel] = "carModel"-->
<!--        [carPrice]="carPrice"-->
<!--        [carMileage]= "carMileage"-->
<!--        [manufacturingYear] = "manufacturingYear"-->
<!--        [carLocation] = "carLocation"-->
<!--        [carColor]= "carColor"-->
<!--      />-->

    </div>
    <div class="col"></div>
  </div>
</div>
