<div class="container  my-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-7 carsPage">

      <!-- Car Company Name -->
      <h1>Car models</h1>


      <div *ngFor="let car of cars">
        <app-card-component
          [carbrand]="car.brand"
          [model]="car.model"
          [price]="car.price"
          [mileage]="car.mileage"
          [location]="car.location"
          [year]="car.year"
          [color]="car.color"
        />
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
