.pagination{
  text-align: center;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 100%;
  background-color: #d73b1e;
  color: #ffffff;
}

.pagination i{
  margin: auto;
  padding-left: 5px;
  font-size: 25px;
}
