<div class="">
  <mat-card class="example-card my-5">
    <mat-card-header>
      <mat-card-title>{{carCompanyName}} {{carModel}}</mat-card-title>
      <mat-card-subtitle>{{carPrice}}</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>

      <div class="info d-flex justify-content-between">
        <h3><i class="fa-solid fa-gauge"></i></h3>
        <h3><i class="fa-solid fa-location-dot"></i></h3>
        <h3><i class="fa-solid fa-calendar-days"></i></h3>
        <h3><i class="fa-solid fa-droplet"></i></h3>
      </div>
      <div class="info d-flex justify-content-between">
        <h3>{{carMileage}}</h3>
        <h3>{{carLocation}}</h3>
        <h3>{{manufacturingYear}}</h3>
        <h3>{{carColor}}</h3>
      </div>




    </mat-card-content>
  </mat-card>
</div>


























<!--<div class="">-->
<!--  <mat-card class="example-card">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Mahindra Thar</mat-card-title>-->
<!--      <mat-card-subtitle>12000$</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <br>-->
<!--    <mat-card-content>-->
<!--      <span class="info">-->
<!--        <i class="fa-solid fa-gauge"></i>-->
<!--      </span>-->

<!--      <span class="info">-->
<!--        <i class="fa-solid fa-location-dot"></i>-->
<!--      </span>-->

<!--      <span class="info">-->
<!--        <i class="fa-solid fa-calendar-days"></i>-->
<!--      </span>-->

<!--      <span class="info">-->
<!--        <i class="fa-solid fa-droplet"></i>-->
<!--      </span>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
