*{
  margin: 0;
  padding: 0;
}


.example-card i{
  color: #d73b1e;
}

.info h3{
  width: 100px;
  text-align: center;
}


.carsList{
  margin-left: auto;
  margin-right: auto;
  height: 25vh;
  background-color: #000000;
  color: #ffffff;
}
