<div class="">
  <mat-card class="example-card my-5">
    <mat-card-header>
      <mat-card-title class="" >{{carbrand}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <div class="info d-flex justify-content-between">
        <h3><i class="fa-solid fa-gauge">{{mileage}}</i></h3>
        <h3><i class="fa-solid fa-location-dot">{{location}}</i></h3>
        <h3><i class="fa-solid fa-calendar-days">{{year}}}</i></h3>
        <h3><i class="fa-solid fa-droplet"></i>{{color}}</h3>
      </div>
      <div class="info d-flex justify-content-between">
        <h3></h3>
        <h3></h3>
        <h3></h3>
        <h3></h3>
      </div>
    </mat-card-content>
  </mat-card>
</div>

